name: Deploy Platform

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  deploy-platform:
    uses: ./.github/workflows/ssh-deploy.yml
    with:
      working-directory: "~/octanebrew-platform"
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}
